# dependencies
node_modules/

# next.js
.next/
out/

# production
build/
dist/

# env files
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local caches
.turbo/
.vercel/

# system files
.DS_Store
Thumbs.db
